---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("tips")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

    <Layout title="Welcome to Astro.">
        <main>
            <Header title="AstroBuild.tips" />
            <Hero />
            <ul role="list" class="link-card-grid">
                {
                    posts.map((post) => (
                        <Card
                            title={post.data.title}
                            time={post.data.pubDate}
                            tags={post.data.tags}
                            slug={post.slug}
                        />
                    ))
                }
            </ul>
        </main>
    </Layout>


