<div class="grid h-screen place-content-center bg-white px-4">
    <h1 class="uppercase tracking-widest text-gray-500">404 | Not Found</h1>
    <a
      href="/"
      class="mt-6 inline-block rounded bg-indigo-600 px-5 py-3 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring"
    >
      Go Back Home
    </a>  
</div>