<div class="container mx-auto max-w-7xl my-10 px-4">  
	<div class="flex justify-center relative w-898 h-auto">  
		<img
		  src="https://images.pexels.com/photos/1573247/pexels-photo-1573247.jpeg?auto=compress&cs=tinysrgb&w=989"
		  alt="Cristales para sanar y sentirse bien"
		  loading="lazy"
		/>
	</div>
	
	<h1 class="text-3xl font-bold my-8">Desvelando la mística de los cristales</h1>

	<p class="text-gray-600 font-sans">Los cristales, esas piedras preciosas brillantes que han adornado a guerreros y místicos a lo largo de los siglos, no sólo son exquisitos a la vista; también se cree que poseen poderosas propiedades curativas. La historia de los cristales se remonta a siglos atrás, cuando estas piedras preciosas se utilizaban por sus supuestos beneficios metafísicos y terapéuticos.</p>
</div>


<style>
	

.column {
  padding: 1rem; /* Add some padding for better readability */
  margin: 0.5rem; /* Add some margin between columns */
}

@media (max-width: 600px) {

		.column {
			flex: 1; /* Make columns take up full width on smaller screens */
		}
		main {
				max-width: 60ch;
		}
	}

	/* Max width 145ch for larger screens */
	@media (min-width: 601px) { /* Adjust breakpoint as needed */

	.column {
    		flex: 2; /* Set column width as specified in Astro code */
  		}
	h1 {
		font-family: "Lexend", sans-serif;
		font-size: 1.5rem;
		font-weight: 800;
	}
	font-sans {
		font-family: "Lexend", sans-serif;
		font-size: 20px;
	}

	}

</style>